<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>font-subseter demo</title>
</head>
<body>
    <div id="app">
        <div class="demo-text">
            <textarea v-model="params.demoText"></textarea>
            <div class="btns">
                <button @click="downloadFont()">Download subset font</button>
            </div>
        </div>
        <div class="demo-options">
            <div class="file-picker">
                <input ref="fileInp" type="file" accept=".ttf,.otf" @change="onFileChange">
                <button @click="$refs.fileInp.click()">Pick font file(.ttf,  .otf)</button>
            </div>
            <div class="options-picker">
                <label>
                    Engine:
                    <select v-model="params.engine">
                        <option value="opentype.js">Opentype.js</option>
                        <!-- <option value="fontmin">Fontmin</option> -->
                        <option value="fonttools">Fonttools</option>
                        <!-- <option value="fontkit">Fontkit</option> -->
                    </select>
                </label>
                <label>
                    Target:
                    <select v-model="params.fontType">
                        <option value="woff">woff</option>
                        <option value="ttf">ttf</option>
                    </select>
                </label>
                <label>
                    Force truetype:
                    <input type="checkbox" v-model="params.forceTruetype">
                </label>
            </div>
        </div>
        <div class="font-list">
            <ul>
                <li v-if="!fontList.length">Loading...</li>
                <li
                    v-for="item in fontList"
                    :class="{
                        current: currentFont === item
                    }"
                    @click="previewFont(item)"
                >{{item.alias}} ({{item.family}})</li>
            </ul>
        </div>
        <div class="font-preivew" v-if="currentFont">
            <div class="font-pending" v-if="pending">Font processing...</div>
            <div
                class="font-item"
                v-for="item in previewPresets"
                :class="[
                    item.subset ? 'is-subset' : null,
                    item.writingMode,
                ]"
            >
                <span :style="{
                    fontFamily: currentFont.family + (item.subset ? ' Subset' : '')
                }">{{params.demoText}}</span>
            </div>
        </div>
    </div>

    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>