<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Otfer demo</title>
</head>
<body>
    <div id="app">
        <div class="demo-text">
            <textarea v-model="demoText"></textarea>
        </div>
        <div class="font-list">
            <ul>
                <li v-if="!fontList.length">Loading...</li>
                <li
                    v-for="item in fontList"
                    :class="{
                        current: currentFont === item
                    }"
                    @click="previewFont(item)"
                >{{item.alias}} ({{item.family}})</li>
            </ul>
        </div>
        <div class="font-preivew" v-if="currentFont">
            <div class="font-pending" v-if="pending">Font processing...</div>
            <div
                class="font-item"
                v-for="item in previewPresets"
                :class="[
                    item.subset ? 'is-subset' : null,
                    item.writingMode,
                ]"
            >
                <span :style="{
                    fontFamily: currentFont.family + (item.subset ? ' Subset' : '')
                }">{{demoText}}</span>
            </div>
        </div>
    </div>

    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>